* {
    font-family: Verdana;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: #FFFFFF;
}
.nav__logo {
    text-decoration: none;
    color: #335576;
    font-weight: bold;
    font-size: 1rem;
}
.nav__menu {
    display: inline-flex;
    list-style: none;
    gap: 1rem;   
}
.nav__menu-item {
    text-decoration: none;
    color:black;
    padding-bottom: 0.5rem;
}
.nav__menu-item--active {
    border-bottom: 3px solid #DB7A4E;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #FEFAF5;
    padding: 3rem 0;
    gap: 8rem;
}
.footer__title, .footer__text {
    color: #335576;
    font-size: 1.25rem;
}
.footer__text {
    font-size: 0.5rem;
}
.footer__subtitle {
    color: #DB7A4E;
    font-size: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.container {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
}
.footer__logo {
    max-width: 1.5rem;
    max-height: 1.5rem;
}
.container__logo {
    padding-top: 1.75rem;
    padding-right: 2.5rem;
}